---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:900|Josefin+Sans:400");
@import url("http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900");
@import url("http://fonts.googleapis.com/css?family=Lora:400italic,700italic");
@import url("http://fonts.googleapis.com/css?family=Old+Standard+TT:400,400italic,700");
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,300,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic");

// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  height: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: $helveticaNeue;
  font-family: $roboto;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  // color: $blue;
  color: $teal;
  font-family: $roboto;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

.spacer-small {
  width: 100%;
  height: 30px;
}
.spacer {
  width: 100%;
  height: 75px;
}
.spacer-large {
  width: 100%;
  height: 150px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  padding: 20px 0px;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

.submenu {
  list-style:none;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;

  li {
    display: inline-block;
    padding: 5px 10px;
    margin: 0;
    border-left: 1px solid #AAA;
    border-bottom: 5px solid rgba(#fff, 0);
    transition-duration: 0.3s;
    cursor: pointer;

    &:first-child {
      border: none;
    }

    &:hover {
      background-color: #DDDDDD;
      border-bottom: 5px solid rgba(#fff, 1);
    }
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

.wrapper-footer {
  // margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
  width: 100%;
  z-index: 0;
}

footer {
  padding: 20px 0;
  text-align: center;
}



/** Intro content */
.intro_content {
  position: absolute;
  bottom: 0px;
  padding: 1.8em;
  width: 100%;
  font-size: 1.15em;
}

.intro_title {
  margin: 0 0 20px;
  font-weight: 300;
  font-size: 4em;
  // font-family: "Playfair Display", Georgia, serif;
  // font-family: $roboto;
  // text-transform: uppercase;
  line-height: 1;
  color: $white;
  font-family: $old-standard-tt;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.intro_subtitle {
  font-size: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  color: $white
  // font-size: 18px;
}

.intro_description {
  // margin: 0 auto 0 1em;
  line-height: 1.2;
  font-size: 20px;
  // font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
  font-family: $roboto;
  letter-spacing: 1px;
  font-weight: 300;
}

/** Nav Bar */
.nav-bar {
  margin-top: 0.5em;
}

.nav-item {
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0.2em 0;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 2px;
  font-size: 20px;
}

.nav-item:hover {
  color: $white;
}

/* Fullscreen image */
.intro_image {
  position: relative;
  width:100%;
  height:100%;
  background: url("/images/tricia.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/** Descriptions */
highlight {
  color: $teal;
  font-style: italic;
}

.title {
  font-family: $old-standard-tt;
  font-style: italic;
  font-weight: normal;
  letter-spacing: -0.05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.description {
  font-family: $roboto;
  font-weight: 300;
  font-size: 20px;
}

//Projects
.proj-item {
  width: 333px;
}

.teal-bg {
  background-color: $teal;
  z-index: -10;
}

.white-font {
  color: $white;
}

.teal-color {
  color: $teal;
}

.exp-icon {
  margin: 0 0 0 25%;
}

.exp-description {
  padding-top: 30px;
}

.campus-icon {
  width: 175px;
  height: 175px;
  margin: 0 0 0 40%;
}

.paw-icon {
  background: url("/images/paw.png");
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
}

.rescomp-icon {
  background: url("/images/cal.png");
  background-size: cover;
  width: 220px;
}

.paw-icon:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.center {
  text-align: center;
}

.nib-icon {
  background: url("/images/nib.jpg");
  background-size: cover;
  width: 488.5px;
  height: 111px;
  margin: 0 0 0 30%;
}

.project-title {
  font-family: $roboto;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.project-description {
  font-size: 15px;
}

.btn-view {
  color: $white;
  background-color: transparent;
  border-color: $white;
}

.btn-view:hover,
.btn-view:focus,
.btn-view:active {
  color: $gray;
  border-color: $gray;
}

.copyright {
  font-size: 15px;
}

.footer-icon {
  color: $teal;
}

.footer-icon:hover {
  color: $darkerTeal;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
